# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MSworkplace\detailcloud\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
